<ion-header>
  <ion-navbar>
    <ion-title>{{ isEditView ? 'Edit' : 'New' }} Category</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="closeModal()">
          <ion-icon name="close"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label floating>Name</ion-label>
      <ion-input [(ngModel)]="category.name" type="text"></ion-input>
    </ion-item>
  </ion-list>
  <div padding>
    <button ion-button *ngIf="!isEditView" block (click)="onCreate()">Create</button>
    <button ion-button *ngIf="isEditView" block (click)="onUpdate()">Update</button>
    <button ion-button *ngIf="isEditView" block color="danger" (click)="onDelete()">Delete</button>
  </div>
</ion-content>
